<div th:fragment="view-create-author" style="display:none;" id="view-create-author">
  <button onclick="showPostList()" class="back-button">← Back to List</button>

  <h2>Create Author</h2>
  <form id="create-author-form" class="author-form">
    <div>
      <label>First Name:</label><br/>
      <input name="firstName" type="text" required>
    </div>

    <div>
      <labe>Last Name:</labe><br/>
      <input name="lastName" type="text" required>
    </div>

    <div>
      <label>Email:</label><br/>
      <input name="email" type="text" required>
    </div>

    <button type="submit">Create Author</button>
  </form>
</div>